{% extends 'HETICCoreBundle::layout.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block main %}
    <main id="tournament" role="main">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="turnament"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
